
/* Reaset all elements */
*
{
  margin: 0px;
  padding: 0px;
/*  vars  */
  --title-size: 320%;
  --heading-p-size: 20px;
  --img-size: 100%;
  --caption-size: 18px;
}
body
{
  width:100%;
  height: 100%;
}
body
{
  display: flex;
  justify-content: center;
  background-image: linear-gradient(9deg,#389386 30%,#ffb100 100%);
  height: 100%;
}

#main
{
  width: 80%;
  background-color: #eee;
  background-image: linear-gradient(9deg,#389386 30%,#ffb100 100%);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#image
{
  max-width: var(--img-size);
  display: block;
}

#img-div
{
  
  width: 30%;
  
  
}


.heading
{
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 20px;
}

#title
{
  font-size: var(--title-size);
  font-weight: bold;
  text-align: center;
  color: #fff;
    background: #bdb76b33;
    width: 100%;
    padding: 15px;

}

.heading p
{
  width: 40%;
  text-align: center;
  margin-top: 10px;
  font-size: var(--heading-p-size);
  color: #ffe450;
}

#img-caption
{
  font-size: var(--caption-size);
  color:#ffffffd9;
}

/* Media queries */
@media (max-width: 1300px)
{
  #main
  {
    width: 80%;
   
  }
  .heading p
  {
    width: 50%;
  }
  #img-div{
    width: 45%;
    
  }
    *{
    --title-size: 250%;
    --heading-p-size: 20px;
    --img-size: 100%;
    --caption-size: 18px;
  }
  
}

@media (max-width: 1000px)
{
  #main
  {
    width: 100%;
   
  }
  .heading p
  {
    width: 80%;
  }
  #img-div{
    width: 49%;
    
  }
    
}

@media (max-width: 750px)
{
  #main
  {
    width: 100%;
  }
  .heading p
  {
    width: 100%;
  }
  #img-div{
    width: 65%;
    
  }
    
}

@media (max-width: 500px)
{
  
  
  #img-div{
    width: 89%;
    
  }
    
}

/* The Style of the section part */
section
{
  margin-top: 120px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section h2
{
  font-size: 28px;
  text-align: center;
  color: #fff;
  
}

#tribute-info
{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 20px;
  margin-bottom:30px;
}

article
{
  background-color:#6bffff;
  padding: 10px;
  margin-top: 20px;
  border-left: 5px #008554 solid;
  color: #9f2a17;
}

h3
{
  color: black;
  margin-bottom: 5px;
  

}

h3 + p{
  font-size: 18px;
  font-family: sans-serif;
}
footer{
  width: 80%;
}

article:hover
{
  animation-name: toutch;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes toutch
{
  100%{
   transform: scale(1.2);
   
  }
}
